<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Order" connectionString="Server=localhost;Database=Order;User Id=sa;Password=p@ssw0rd;"/>
    <add name="Book" connectionString="Server=localhost;Database=Book;User Id=sa;Password=p@ssw0rd;"/>
    <add name="BookInventory" connectionString="Server=localhost;Database=BookInventory;User Id=sa;Password=p@ssw0rd;"/>
    <add name="User" connectionString="Server=localhost;Database=User;User Id=sa;Password=p@ssw0rd;"/>
    <add name="CreditCard" connectionString="Server=localhost;Database=CreditCard;User Id=sa;Password=p@ssw0rd;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
